:root {
    background-color: antiquewhite;
    font-family: ui-monospace;
    text-align: center;
}

.timeBar {
    border-bottom: 1px solid purple;
}

#timerEl {
    float: right;
    border: 1px solid gray;
    padding: 2px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: large;
}

.gameCont {
    display: flex;
    width: 800px;
    margin: auto;
    text-align: center;
    flex-direction: column;
}

.questionHolder {
    margin: 25px;
}

.answerHolder {
    display: none;
    justify-content: center;
    margin: 10px;
}
.startBtn {
    display: block;
    width: 80px;
    margin: 10px auto;
    padding: 10px;
}

.areYouSmart {

}