:root {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#smartyList {
    color: blueviolet;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.timeBar {
    margin: 20px;
}

#timerEl {
    float: right;
    padding: 2px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: large;
}

.gameCont {
    display: flex;
    width: 800px;
    margin: auto;
    text-align: center;
    flex-direction: column;
}

.questionHolder {
    margin: 25px;
}

.answerHolder {
    display: none;
    justify-content: center;
    margin: 10px;
}
.startBtn {
    display: block;
    width: 80px;
    margin: 10px auto;
    padding: 10px;
}

#scoreBox {
    display: none;
}

.areYouSmart {

}